// begin CSS vars
:root {
    --light: rgb(255, 255, 255);
    --medium: rgba(116, 115, 115, 0.938);
    --dark: rgba(27, 27, 27, 0.938);
    --action: rgba(54, 181, 240, 0.938);
}
// begin SCSS vars

$base-spacing: 40px;
$breakpoint-1: 960px;
$breakpoint-2: 1200px;
$breakpoint-3: 1600px;