<div class="post-share">
    <ul>
        <li>
            <a title="Share {{page.title}} on Twitter"
                href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{page.description}} --- {{page.title}} --- {% if site.twitter.username %}&via={{site.twitter.username}}{% endif %}"
                target="_blank" rel="noreferrer"><img class="icon" src="/assets/images/icons/twitter.svg" alt="Share {{page.title}} on Twitter">
            </a>
        </li>
        <li>
            <a title="Share {{page.title}} on Facebook"
                href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"
                rel="noreferrer"><img class="icon" src="/assets/images/icons/facebook.svg" alt="Share {{page.title}} on Facebook">
            </a>
        </li>
    </ul>
</div>