

.published {
	time {
		display: block;
	}
}

nav a {
	text-decoration: none;
}

iframe {
	margin: $base-spacing auto;
}
figcaption {
	margin-top: $base-spacing/4;
}
img {
	box-shadow: 0 0 1px var(--dark);
}

img.icon {
	width: 32px;
	height: 32px;
	box-shadow: unset;

	.site-footer & {
		width: 16px;
		height: 16px;
		transition: all 0.15s;
	}

	.site-footer.responsive & {
		transform: rotate(180deg);
	}
}

div#search-container input {
	width: 86%;
	max-width: $breakpoint-1/2;
}
